{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  "plugins": [
        [
            "css-modules-transform", {
                "extractCss": "./dist/stylesheets/combined.css"
            }
        ]
    ]
}